
<div class="parent-container">
    <!-- Buttons -->
    <div class="button-container">
        <button mat-button routerLink="/chat"><mat-icon>chat</mat-icon>Chat</button>
        <button mat-button routerLink="/agent"><mat-icon>data_usage</mat-icon>Agent</button>
        <button mat-button routerLink="/persona"><mat-icon>person</mat-icon>Personas</button>
        <button mat-button routerLink="/datasets"><mat-icon>drive_file_move</mat-icon>Datasets</button>
    </div>

    <div class="additional-buttons">
        <mat-divider></mat-divider>

        <button mat-button><mat-icon>help</mat-icon>Help</button>
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
    </div>

</div>
